html, body {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Arial';
  font-size: 3em;
}

 p {
   background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }

#content {
  width: 70%;
  border-radius: 30px;
  padding: 25px;
  box-shadow: rgba(255, 255, 255, 0.56) 0px 22px 70px 4px;
}

button {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 0;
  border-radius: 30px;
  paddding: 5px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}